.advantages__list {
  display: grid;
  grid-template-columns: 280px;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 249px 249px;
    gap: 130px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 230px 246px 248px 250px;
    gap: 77px;
  }
}

.advantages__title {
  font-size: 36px;
  line-height: 40px;
}

.advantages__item::before {
  content: "";
  background-color: $bg-tertiary;
  background-position: center;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  display: block;
}

.advantages__item-benefit::before {
  background-image: url("../../icons/stack.svg#leaf");
  background-size: 25px 28px;
}

.advantages__item-view::before {
  background-image: url("../../icons/stack.svg#glass");
  background-size: 26px 29px;
}

.advantages__item-advice::before {
  background-image: url("../../icons/stack.svg#fork-and-knife");
  background-size: 25px 30px;
}

.advantages__item-result::before {
  background-image: url("../../icons/stack.svg#clock");
  background-size: 26px 31px;
}
