.navigation {
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.navigation__list {
  @media (min-width: $tablet-width) {
    width: 436px;
  }

  @media (min-width: $desktop-width) {
    width: 475px;
  }
}

.navigation__list-item:hover {
  opacity: 60%;
}

.navigation__list-item:disabled {
  opacity: 30%;
}

.navigation__list-link {
  color: $black;
}

.navigation__toggle {
  border: none;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
